<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class='mainHome'>
    <h3>Please choose to find your wine:</h3>
    <a href='/wine'>Full wine list</a>
    <a href='/type'>Wine by type</a>
    <a href='/origin'>Wine by origin</a>
  </main>
</body>
</html>
