<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href='/'>Home</a>
      </li>
      <li>
        <a href='/wine'>Wine</a>
      </li>
      <li>
        <a href='/type'>Type</a>
      </li>
      <li>
        <a href='/origin'>Origin</a>
      </li>
      <li>
        <a href='/newWine'>Ajouter du vin</a>
      </li>
    </ul>
  </nav>
</body>
</html>
