<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='../public/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar.ejs') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class='newMain'>
    <form action='/newWine' method='POST' class='newForm'>
      <label for='wineName'>Nom du vin *</label>
      <input placeholder='Domaine Extondoa Xut' type='text' name='wineName' id='wineName' required>
      <label for='wineYear'>Millésime *</label>
      <input placeholder='YYYY' type='number' name='wineYear' id='wineYear' min='1950' max='2025' required>
      <div class='formButton'>
        <button type='submit'>Add wine</button>
      </div>
    </form>
  </main>
</body>
</html>
