<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar.ejs') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class='mainBox'>
    <form action='/newWine' method='POST' class='mainForm'>
      <label for='wineName'>Nom du vin *</label>
      <input placeholder='Domaine Extondoa Xut' type='text' name='wineName' id='wineName' required>
      <label for='wineYear'>Millésime *</label>
      <input placeholder='YYYY' type='number' name='wineYear' id='wineYear' min='1950' max='2025' required>
      <fieldset>
        <legend>Couleur *</legend>
        <input type='radio' id='red' name='wineColor' value='Rouge'>
        <label for='red'>Rouge</label><br>
        <input type='radio' id='white' name='wineColor' value='Blanc'>
        <label for='white'>Blanc</label><br>
        <input type='radio' id='rose' name='wineColor' value='Rose'>
        <label for='rose'>Rose</label><br>
      </fieldset>
      <div class='formButton'>
        <button type='submit'>Sauvegarder</button>
      </div>
    </form>
  </main>
</body>
</html>
