<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class='mainBox'>
    <form action='/newWine' method='POST' class='mainForm'>
      <label for='wineName'>Nom du vin *</label>
      <input placeholder='Domaine Extondoa Xut' type='text' name='wineName' id='wineName' minlength='3' maxlength='30' required>
      <label for='wineYear'>Millésime *</label>
      <input placeholder='YYYY' type='number' name='wineYear' id='wineYear' min='1900' max='<%= new Date().getFullYear() %>' required>
      <label for='quantity'>Quantité *</label>
      <input type='number' name='quantity' id='quantity' min='0' max='100' required>
      <fieldset>
        <legend>Couleur *</legend>
        <input type='radio' id='rouge' name='wineColor' value='rouge' required>
        <label for='rouge'>rouge</label><br>
        <input type='radio' id='blanc' name='wineColor' value='blanc'>
        <label for='blanc'>blanc</label><br>
        <input type='radio' id='rosé' name='wineColor' value='rosé'>
        <label for='rosé'>rosé</label><br>
      </fieldset>
      <select id='wineStyle' name='wineStyle' required>
        <option disabled selected>Style *</option>
        <option value='effervescent'>effervescent</option>
        <option value='sec'>sec</option>
        <option value='moelleux'>moelleux</option>
        <option value='liquoreux'>liquoreux</option>
        <option value='charpenté'>charpenté</option>
        <option value='rond'>rond</option>
        <option value='léger'>léger</option>
        <option value='fruité'>fruité</option>
        <option value='vif'>vif</option>
        <option value='aromatique'>aromatique</option>
      </select>
      <div class='formButton'>
        <button type='submit'>Sauvegarder</button>
      </div>
    </form>
  </main>
</body>
</html>
