/* global styles */

:root {
  --text-color: rgb(3, 19, 0);
  --background-color: rgb(229, 244, 225);
  --primary-color: rgb(64, 142, 47);
  --primary-color-light: rgb(141, 203, 128);
  --primary-color-dark: rgb(16, 80, 3);
  --secondary-color: rgb(35, 106, 98);
  --secondary-color-light: rgb(95, 151, 145);
  --secondary-color-dark: rgb(2, 60, 54);
  --tertiary-color: rgb(131, 161, 54);
  --tertiary-color-light: rgb(206, 230, 145);
  --tertiary-color-dark: rgb(67, 91, 3);
  --background-opacity: rgba(229, 244, 225, 0.5);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

nav {
  background-color: var(--primary-color-light);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-image: url('images/vignoble.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
}

h1 {
  font-size: 3rem;
  color: var(--primary-color-dark);
  text-shadow: 2px 2px var(--primary-color-light);
  margin: 0.5rem;
}

header h2 {
  color: var(--primary-color-dark);
  text-shadow: 2px 2px var(--primary-color-light);
  margin: 0.5rem;
}

.headerBox {
  background: var(--background-opacity);
  max-width: fit-content;
  margin: auto;
  padding: 0.5rem;
}

a {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 0.8rem 1.2rem;
  text-decoration: none;
}

nav a {
  background-color: var(--primary-color-light);
}

a:hover {
  color: var(--background-color);
  background-color: var(--primary-color-dark);
}

nav a:hover {
  background-color: var(--primary-color);
}

button {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--background-color);
  background-color: var(--tertiary-color-dark);
  padding: 0.8rem 1.2rem;
  border: none;
  outline: none;
}

button:hover {
  color: var(--text-color);
  background-color: var(--tertiary-color-light);
}

main {
  width: 75%;
  margin: auto;
  display: grid;
  gap: 1rem;
}

.searchBar {
  grid-column: 1;
}

.searchBar > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.searchBar > ul > li {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
  width: 100%;
}

.searchBar a {
  padding: 1.2rem 2.4rem;
}

section ul {
  display: grid;
  gap: 1rem;
}

section li {
  font-size: 1.2rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  padding: 1rem;
}

section li a {
  font-size: 1.2rem;
}

footer {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

footer a {
  font-size: 1rem;
  color: var(--primary-color-dark);
  background-color: inherit;
  padding: 0;
}

footer a:hover {
  color: var(--primary-color);
  background-color: inherit;
}

/* home styles */

.mainHome {
  grid-template-columns: 2fr 2fr;
}

.centerText {
  text-align: center;
}

.maxLifeList {
  grid-column: 1;
}

.primeList {
  grid-column: 2;
}

.mainHome section li {
  display: flex;
  justify-content: space-between;
}

.iconBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* wine styles */

.mainWine {
  width: 60%;
}

.mainWine li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
  justify-items: start;
  align-items: center;
  padding: 0.5rem;
}

.mainWine .wineIcons,
.mainWine a {
  justify-self: center;
}

/* type styles */

.mainType {
  grid-template-columns: 1fr 8fr;
}

.mainType section {
  grid-column: 2;
}

.mainType .searchBar {
  justify-self: center;
}

.mainType section li {
  display: grid;
  grid-template-columns: 2fr 1fr 2.5fr 2.5fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: center;
}

.mainType a {
  justify-self: center;
}

/* origin styles */

.mainOrigin {
  grid-template-columns: 1fr 3fr;
}

.mainOrigin section {
  grid-column: 2;
}

.mainOrigin section li {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: center;
}

.mainOrigin .wineIcons,
.mainOrigin section a {
  justify-self: center;
}

.regionList > li.active > a {
  color: var(--background-color);
  background-color: var(--primary-color-dark);
  opacity: 0.7;
}

.searchBar .appellationList {
  display: none;
}

.searchBar .appellationList.show {
  display: block;
}

.searchBar .appellationList a {
  display: block;
  color: var(--background-color);
  background-color: var(--primary-color-dark);
}

.searchBar .appellationList a:hover {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.searchProducer {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.searchProducer button {
  padding: 0.3rem 0.8rem;
}

/* newWine & editWine styles */

.mainBox {
  width: 50%;
}

.mainForm {
  color: var(--text-color);
  background-color: var(--tertiary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 1fr;
}

.mainForm > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
fieldset {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--tertiary-color-light);
  padding: 0.3rem;
  outline: none;
  border: none;
}

input:focus {
  color: var(--background-color);
  background-color: var(--tertiary-color-dark);
}

label,
legend {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  max-width: max-content;
}

fieldset legend {
  background-color: var(--tertiary-color-light);
  box-shadow: 0 0 0 0.25rem var(--tertiary-color-light);
}

fieldset label {
  font-weight: 400;
}

.checkform {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.checkform input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--tertiary-color);
  border-radius: 50%;
}

.checkform:hover input ~ .checkmark {
  background-color: var(--tertiary-color-dark);
}

.checkform input:checked ~ .checkmark {
  background-color: var(--tertiary-color-dark);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkform input:checked ~ .checkmark:after {
  display: block;
}

.checkform .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--tertiary-color-light);
}

.formButton {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
  justify-self: center;
}

.grapeExtra {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grapeExtra button {
  padding: 0.3rem 0.6rem;
}

/* detailWine styles */

.detailMain {
  background-image: url('images/bouchons.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--tertiary-color);
  padding: 1.5rem;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2.5fr 1fr;
}

.detailMain button,
.detailMain input:hover,
.detailMain a {
  font-size: 1.2rem;
  color: var(--background-color);
  background-color: var(--primary-color-dark);
}

.detailMain button:hover,
.detailMain input,
.detailMain a:hover {
  color: var(--text-color);
  background-color: var(--primary-color-light);
}

.detailInfo {
  grid-column: 1 / 5;
  grid-row: 1;
  background: var(--background-opacity);
  border-radius: 15px;
  max-width: fit-content;
  max-height: fit-content;
  padding: 0 1rem 0 1rem;
  margin-bottom: 1.5rem;
}

.detailInfo a {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: inherit;
  padding: 0;
}

.detailInfo a:hover {
  font-size: 1.8rem;
  color: var(--primary-color-dark);
  background-color: inherit;
}

.detailInfo a.extLink:hover {
  font-size: 1.6rem;
  color: var(--background-color);
  background-color: var(--primary-color-dark);
  border-radius: 30%;
  padding: 0.3rem;
}

.grapeList {
  list-style-type: disc;
  margin: 1rem;
  padding-left: 1rem;
}

.grapeList h3 {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.detailMain .wineIcons {
  grid-column: 5;
  grid-row: 1;
  background: var(--background-opacity);
  border-radius: 15px;
  justify-self: end;
  max-width: fit-content;
  max-height: fit-content;
  padding: 1rem;
}

.detailBtns {
  grid-column: 5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

.detailQty {
  grid-column: 1 / 3;
  grid-row: 2;
  background: var(--background-opacity);
  border-radius: 15px;
  max-width: fit-content;
  padding: 0.5rem 1rem 0 1rem;
  text-align: center;
}

.qtyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.detailQty form {
  padding: 0.5rem;
}

.qtyForm input {
  max-width: 25px;
}

.qtyForm button[type='button'] {
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.5rem;
}

.qtyForm button[type='submit'] {
  padding: 0.5rem 0.8rem;
}
