/* global styles */

:root {
  --text-color: #030117;
  --background-color: #DCDBE5;
  --primary-color: #3A3479;
  --primary-color-light: #7B77AA;
  --primary-color-dark: #120C4A;
  --secondary-color: #5D2B74;
  --secondary-color-light: #926DA3;
  --secondary-color-dark: #320646;
  --tertiary-color: #275B6C;
  --tertiary-color-light: #658C99;
  --tertiary-color-dark: #053342;
  --primary-border-dark: 2px solid var(--primary-color-dark);
  --primary-border-light: 2px solid var(--primary-color-light);
  --secondary-border-dark: 2px solid var(--secondary-color-dark);
  --secondary-border-light: 2px solid var(--secondary-color-light);
  --tertiary-border-dark: 2px solid var(--tertiary-color-dark);
  --tertiary-border-light: 2px solid var(--tertiary-color-light);
  --primary-box-shadow: 2px 2px 2px var(--primary-color);
  --secondary-box-shadow: 2px 2px 2px var(--secondary-color);
  --tertiary-box-shadow: 2px 2px 2px var(--tertiary-color);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul {
  font-size: 1.2rem;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px var(--primary-color-light);
  margin-bottom: 0;
}

a {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--primary-color-light);
  border: var(--primary-border-dark);
  box-shadow: var(--primary-box-shadow);
  padding: 0.8rem 1.2rem;
  text-decoration: none;
}

a:hover {
  color: var(--background-color);
  background-color: var(--primary-color-dark);
  border: var(--primary-border-light);
  box-shadow: var(--primary-box-shadow);
}

button {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--background-color);
  background-color: var(--tertiary-color-dark);
  border: var(--tertiary-border-light);
  box-shadow: var(--tertiary-box-shadow);
  padding: 0.8rem 1.2rem;
  outline: none;
}

button:hover {
  color: var(--text-color);
  background-color: var(--tertiary-color-light);
  border: var(--tertiary-border-dark);
  box-shadow: var(--tertiary-box-shadow);
}

.searchBar > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 1rem;
}

.searchBar > ul > li {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
  width: 100%;
}

.searchBar a {
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
}

section ul {
  display: grid;
  gap: 1rem;
}

section li {
  font-size: 1.2rem;
  color: var(--background-color);
  background-color: var(--secondary-color-dark);
  border: var(--secondary-border-light);
  box-shadow: var(--secondary-box-shadow);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.iconBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* home styles */

.mainHome {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1rem;
}

.mainHome .searchBar {
  grid-column: 1;
}

.mainHome section {
  grid-column: 3;
}

/* type styles & origin styles */

.mainType,
.mainOrigin {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.mainType .searchBar,
.mainOrigin .searchBar {
  grid-column: 1;
}

.mainType section,
.mainOrigin section {
  grid-column: 2;
}

.regionList > li.active > a {
  color: var(--background-color);
  background-color: var(--primary-color-dark);
  border: var(--primary-border-light);
  box-shadow: var(--primary-box-shadow);
}

.regionList > li.active > a:hover {
  color: var(--text-color);
  background-color: var(--primary-color-light);
  border: var(--primary-border-dark);
  box-shadow: var(--primary-box-shadow);
}

.searchBar .appellationList {
  display: none;
}

.searchBar .appellationList.show {
  display: block;
}

.searchBar .appellationList li {
  margin-top: 1rem;
}

.searchBar .appellationList a {
  display: block;
  color: var(--background-color);
  background-color: var(--primary-color-dark);
  border: var(--primary-border-light);
  box-shadow: var(--primary-box-shadow);
}

.searchBar .appellationList a:hover {
  color: var(--text-color);
  background-color: var(--primary-color-light);
  border: var(--primary-border-dark);
  box-shadow: var(--primary-box-shadow);
}

.searchProducer {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.searchProducer input {
  color: var(--text-color);
  background-color: var(--tertiary-color-light);
  border: var(--tertiary-border-dark);
  box-shadow: var(--tertiary-box-shadow);
}

.searchProducer input:focus {
  color: var(--background-color);
  background-color: var(--tertiary-color-dark);
  border: var(--tertiary-border-light);
  box-shadow: var(--tertiary-box-shadow);
}

.searchProducer button {
  padding: 0.3rem 0.8rem;
}

/* wine styles */

.mainWine {
  width: 50%;
  margin: auto;
}

.mainWine ul {
  display: grid;
  gap: 1rem;
}

/* newWine & editWine styles */

.mainBox {
  width: 50%;
  margin: auto;
}

.mainForm {
  color: var(--text-color);
  background-color: var(--secondary-color-light);
  border: var(--secondary-border-dark);
  box-shadow: var(--secondary-box-shadow);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 1fr;
}

.mainForm > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
fieldset {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--tertiary-color-light);
  border: var(--tertiary-border-dark);
  box-shadow: var(--tertiary-box-shadow);
  padding: 0.3rem;
  outline: none;
}

fieldset {
  box-shadow: 0 -10px 10px var(--tertiary-color-light);
}

input:focus {
  color: var(--background-color);
  background-color: var(--tertiary-color-dark);
  border: var(--tertiary-border-light);
  box-shadow: var(--tertiary-box-shadow);
}

label,
legend {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
}

fieldset label {
  font-weight: 400;
}

.checkform {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.checkform input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--tertiary-color);
  border-radius: 50%;
}

.checkform:hover input ~ .checkmark {
  background-color: var(--tertiary-color-dark);
}

.checkform input:checked ~ .checkmark {
  background-color: var(--tertiary-color-dark);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkform input:checked ~ .checkmark:after {
  display: block;
}

.checkform .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--tertiary-color-light);
}

.formButton {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
  justify-self: center;
}

.grapeExtra {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grapeExtra button {
  padding: 0.3rem 0.6rem;
}

/* detailWine styles */

.detailMain {
  color: var(--background-color);
  background-color: var(--secondary-color-dark);
  border: var(--secondary-border-light);
  box-shadow: var(--secondary-box-shadow);
  padding: 1.5rem 0.75rem 1.5rem 1.5rem;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2.5fr 1fr;
}

.detailMain a {
  color: var(--background-color);
  background-color: var(--tertiary-color-dark);
  border: var(--tertiary-border-light);
  box-shadow: var(--tertiary-box-shadow);
}

.detailMain a:hover {
  color: var(--text-color);
  background-color: var(--tertiary-color-light);
  border: var(--tertiary-border-dark);
  box-shadow: var(--tertiary-box-shadow);
}

.detailInfo {
  grid-column: 1 / 5;
  grid-row: 1;
}

.grapeList {
  list-style-type: disc;
  margin: 1rem;
  padding-left: 1rem;
}

.detailIcons {
  grid-column: 5;
  grid-row: 1;
  text-align: right;
}

.detailBtns {
  grid-column: 5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.detailQty {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: var(--secondary-color-dark);
  border: var(--secondary-border-light);
  box-shadow: var(--secondary-box-shadow);
  text-align: center;
}

.qtyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.detailQty form {
  padding: 0.5rem;
}

.qtyForm input {
  max-width: 25px;
}

.qtyForm button[type='button'] {
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.5rem;
}

.qtyForm button[type='submit'] {
  padding: 0.5rem 0.8rem;
}
